/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--dark-color);
  line-height: 1.6;
}

h1 {
  text-align: center;
}
.weather-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.weather-box {
  border: solid 1px black;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
